<div class="row justify-content-center">
  <%= form_with(model: user, url: users_path, method: :post, local: true) do |f| %>
  <div class="form-group col-auto">
    <strong><%= f.label :name, "名前" %></strong>
    <%= f.text_field :name, class: "form-control form-control-lg" %>
  </div>
  <div class="form-group col-auto">
    <strong><%= f.label :email, "メールアドレス" %></strong>
    <%= f.email_field :email, class: "form-control form-control-lg" %>
  </div>
  <div class="form-group col-auto">
    <strong><%= f.label :password , "パスワード" %></strong>
    <%= f.password_field :password, class: "form-control form-control-lg" %>
  </div>
  <div class="form-group col-auto">
    <strong><%= f.label :password_confirmation, "確認" %></strong>
    <%= f.password_field :password_confirmation, class: "form-control form-control-lg" %>
  </div>
  <div class="form-group col-auto">
    <%= f.label :image, class: "label" do %>
      <%= icon "fas", "camera border" %>
      <%= f.file_field :image, class: "image_file", accept: "image/jpeg, image/peg, image/gif, image/png" %>
    <% end %>
  </div>
  <div class="form-group col-auto">
    <%= f.submit "登録する", class: "create-button" %>
  </div>
  <% end %>
</div>
