<% provide(:title, "#{@user.name}の詳細ページ") %>
<div class="main-wrapper">
  <div class="container">
    <div class="row product-lists pl-5">
      <div class="back-to-the-index">
        <%= link_to new_card_path do %>
          <div class="icon-reply"><%= icon "fas", "reply" %></div>
          <p>カードを登録する</p>
        <% end %>
      </div>
    </div>
  </div>
  <% unless @favorite_products.blank? %>
  <div class="container">
    <div class="row product-lists">
      <div class="products-tab"><%= "「#{@user.name}」のお気に入りリスト" %></div>
    </div>
    <div class="row product-lists">
      <%= render partial: "shared/product_segment", collection: @favorite_products, as: "product" %>
    </div>
  </div>
  <% end %>
  <% unless @user.products.blank? %>
  <div class="container">
    <div class="row product-lists">
      <div class="products-tab">
        <%= "「#{@user.name}」の出品リスト" %>
      </div>
    </div>
    <div class="row product-lists">
      <% @user.products.each do |product| %>
        <%= render "shared/product_segment", product: product %>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
