<nav class="navbar navbar-expand-md sticky-top navbar-light" style="background-color: white;" >
  <div class="icon-header">
    <%= link_to root_path, style: "color: #00b7ce;" do %>
      <%= icon "fab", "fort-awesome" %>
    <% end %>
  </div>
  <div class="header-search-box">
    <form class="form-inline" action="/products/search" method="get" accept-charset="UTF-8" %>
      <input type="text" name="search" class="form-control mr-sm-2" placeholder="Search..">
      <button class="search-button">
        <span onclick="this.form.submit()">検索</span>
      </button>
    </form>
  </div>
  <% if current_user %>
    <div class="push-product-link">
      <%= link_to "出品する", new_product_path, method: :get, style: "color: #666666" %>
    </div>
    <div class="map-link">
      <%= link_to "周辺のマップへ", maps_path, method: :get, style: "color: #666666;" %>
    </div>
    <div class="product-index-link">
      <%= link_to "商品一覧", products_path, method: :get, style: "color: #666666;" %>
    </div>
    <div class="logout-link">
      <%= link_to "ログアウト", logout_path, method: :delete, style: "color: #666666;" %>
    </div>
    <div class="user-detail-link">
      <%= link_to "ユーザー管理", user_path(current_user.id), style: "color: #666666;" %>
    </div>
  <% else %>
    <div class="else-map-link">
      <%= link_to "周辺のマップへ", maps_path, method: :get, style: "color: #666666;" %>
    </div>
    <div class="else-product-index-link">
      <%= link_to "商品一覧", products_path, method: :get, style: "color: #666666;" %>
    </div>
    <div class="signin-link">
      <%= link_to "ログイン" , new_login_path, method: :get, style: "color: #666666" %>
    </div>
    <div class="signup-link">
      <%= link_to "ユーザー登録", signup_path, method: :get, style: "color: #666666" %>
    </div>
  <% end %>
</nav>
