<nav class="navbar navbar-expand-lg sticky-top navbar-light" style="background-color: white;" >
  <div class="icon-header ">
    <%= link_to root_path, style: "color: #00b7ce;" do %>
      <%= icon "fab", "fort-awesome" %>
    <% end %>
  </div>
  <div class="header-emagency-button ">
    <%= link_to "簡易ログイン", guest_path, style: "color: #00b7ce" %>
  </div>
  <div class="header-search-box">
    <form class="form-inline" action="/products/search" method="get" accept-charset="UTF-8" %>
      <input type="text" name="search" class="form-control mr-sm-2 search-input" placeholder="Search..">
      <button class="search-button">
        <span onclick="this.form.submit()">検索</span>
      </button>
    </form>
  </div>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav01" aria-controls="navbarNav01" aria-expanded="false" aria-label="ナビゲーション切り替え">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav01">
    <ul class="navbar-nav">
      <% if current_user %>
      <li class="nav-item">
        <div class="push-product-link">
          <%= link_to "出品する", new_product_path, method: :get, style: "color: #666666", class: "nav-link" %>
        </div>
      </li>
      <li class="nav-item active">
        <%= link_to "周辺のマップへ", maps_path, method: :get, style: "color: #666666;", class: "nav-link map-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "商品一覧", products_path, method: :get, style: "color: #666666;", class: "nav-link product-index-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "ログアウト", logout_path, method: :delete, style: "color: #666666;", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "ユーザー管理", user_path(current_user.id), style: "color: #666666;", class: "nav-link" %>
      </li>
      <% else %>
      <li class="nav-item active">
        <div class="else-map-link">
          <%= link_to "周辺のマップへ", maps_path, method: :get, style: "color: #666666;", class: "nav-link" %>
        </div>
      </li>
      <li class="nav-item">
        <%= link_to "商品一覧", products_path, method: :get, style: "color: #666666;", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "ログイン" , new_login_path, method: :get, style: "color: #666666", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "ユーザー登録", signup_path, method: :get, style: "color: #666666", class: "nav-link" %>
      </li>
      <% end %>
    </ul>
  </div>
</nav>
