<% provide(:title, "チャットページ") %>
<div class="container">
  <div class="row">
    <%= render "chat_room_title", room: @room %>
  </div>
  <div class="row">
    <%= render "message_area", messages: @messages %>
  </div>
  <div class="row">
    <div class="col-md-8 offset-md-2" >
      <%= form_with model: @message, url: messages_path, method: :post, local: true, html: { class: "message-form"} do |f| %>
        <div class="input-message">
          <%= f.text_area :content, class: "content" %>
        </div>
        <%= f.hidden_field :room_id, value: @room.id %>
        <%= f.submit "+", class: "btn" %>
      <% end %>
    </div>
  </div>
</div>
