<div class="favoritesBox">
  <% if current_user && product.user.name != current_user.name  %>
    <% if product.favorited_by?(current_user) %>
      <div class="like-you">
        <%= link_to product_favorites_path(product.id), method: :delete do %>
          <div class="disattach-star"><%= icon "fas", "star" %></div>
          <div class="like-tab">「お気に入り」済み: </div>
          <div class="like-count"><%= product.favorites.count %></div>
        <% end %>
      </div>
    <% else %>
      <div class="like-you">
        <%= link_to product_favorites_path(product.id), method: :post do %>
          <div class="attach-star"><%= icon "far", "star" %></div>
          <div class="like-tab">お気に入り登録: </div>
          <div class="like-count"><%= product.favorites.count %></div>
        <% end %>
      </div>
    <% end %>
  <% else %>
      <div class="like-tab">お気に入り数: </div>
      <div class="like-count"><%= product.favorites.count %></div>
  <% end %>
</div>
