<div class="product-right-side">
  <div class="back-to-the-index">
    <% if product.taxons.present? %>
    <%= link_to category_path(product.taxons.first.id) do %>
      <div class="icon-reply"><%= icon "fas", "reply" %></div>
      <p>カテゴリー一覧ページへ</p>
    <% end %>
  <% end %>
  </div>
  <div class="single-nameBox">
    <h2><%= product.name %></h2>
  </div>
  <div class="single-priceBox">
    <div class="single-priceBox-sub-first">価格:</div>
    <div class="single-priceBox-sub-second">¥<%= product.price %></div>
  </div>
  <div class="descriptionBox">
    <p><%= product.description %></p>
  </div>
  <div class="pickup_timesBox">
    <div class="pickup_timesBox-sub-first">希望受け取り日時:</div>
    <div class="pickup_timesBox-sub-second"><%= product.pickup_times %></div>
  </div>
  <%= render "favorites_box", product: product %>
  <% if @map %>
    <% unless @map.latitude.blank? %>
      <div class="distanceBox">
        <div class="distance-word">現在地との距離:</div>
        <div class="distance-content"><%= @distance.truncate(2) %>km</div>
      </div>
    <% end %>
  <% end %>
  <div class="row">
    <div class="chat-space">
      <%= render "chat_box", product: product, user: user %>
    </div>
    <div class="delete-buttonBox">
      <% if current_user && product.user == current_user %>
        <form action="/products/<%= product.id %>/sold" method="get">
          <button onclick="this.from.submit()" name="name" value="sold" class="delete-button">SOLDとする</button>
        </form>
      <% end %>
    </div>
  </div>
</div>
