<%= form_with(model: product, url: products_path, method: :post, local: true) do |f| %>
  <%= render "shared/error_messages", object: product %>
  <div class="form-group">
    <strong><%= f.label :name, "名称" %></strong>
    <%= f.text_field :name, class: "form-control form-control-lg" %>
  </div>
  <div class="form-group">
    <strong><%= f.label :description, "説明" %></strong>
    <%= f.text_area :description, class: "form-control form-control-lg", size: "50×200", placeholder: "品質や分量、経緯など" %>
  </div>
  <div class="form-group">
    <strong><%= f.label :pickup_times, "受取り時間" %></strong>
    <%= f.text_field :pickup_times, class: "form-control form-control-lg", placeholder: "PM 19:00前後に" %>
  </div>
  <div class="form-group">
    <strong><%= f.label :price, "価格" %></strong>
    <%= f.text_field :price, class: "form-control form-control-lg", placeholder: "700円" %>
  </div>
  <div class="form-group">
    <%= f.label :image, class: "label" do %>
      <%= icon "fas", "camera border" %>
      <%= f.file_field :image, class: "form-control image_file", accept: "image/jpeg, image/peg, image/gif, image/png" %>
    <% end %>
  </div>
  <div class="form-group col-auto taxon-select">
    <%= f.select :taxon_ids, nested_set_options(Taxon) { |i| "#{"-" * i.level} #{i.name}"} %>
  </div>
  <div class="form-group">
    <%= f.fields_for :map do |fields| %>
      <strong><%= fields.label :address, "相手と合流したい住所(市町村までで可)" %></strong>
      <%= fields.text_field :address, class: "form-control form-control-lg", placeholder: "福岡県春日市昇町" %>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.submit "出品する", class: "form-control create-button" %>
  </div>
<% end %>
