<div class="main-wrapper">
  <section class="main-content py-3">
    <div class="container">
      <div class="row productBox">
        <div class="col-md-6">
          <div class="imageBox">
            <div class="inside-imageBox"><%= image_tag @product.image.url(:large) %></div>
          </div>
        </div>
        <div class="col-md-6">
          <%= render "product_right_side", product: @product, user: @user %>
        </div>
      </div>
    </div>
    <% unless @map.latitude.blank? %>
    <div class="container">
      <div class="single-product-locationBox">
        <div class="row relating-products-tab">出品者の希望する合流場所</div>
        <div class="row single-product-location">
          <div id="map"></div>
        </div>
      </div>
    </div>
    <% end %>
  </section>
</div>

<script>
let map
let geocoder

function initMap() {
  geocoder = new google.maps.Geocoder()
  map = new google.maps.Map(document.getElementById("map"), {
    center: { lat: <%= @map.latitude %>, lng: <%= @map.longitude %> },
    zoom: 15,
    styles: [{
        stylers: [
          { hue: "#00b7ce" }, { saturation: -50 },
          { lightness: 20 }, {gamma: 0.5 }
    ]
  }],
  });
  marker = new google.maps.Marker({
    position: { lat: <%= @map.latitude %>, lng: <%= @map.longitude %> },
    map: map
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GMAPS_API_KEY"] %>&callback=initMap" async defer></script>
