<div class="main-wrapper">
  <section class="main-content py-3">
    <div class="container">
      <div class="row productBox">
        <div class="col-md-6">
          <div class="imageBox">
            <div class="inside-imageBox"><%= image_tag @product.image.url(:large) %></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="back-to-the-index">
            <%= link_to category_path(@product.taxons.first.id) do %>
            <div class="icon-reply"><%= fa_icon "reply" %></div>
            <p>一覧ページへ戻る</p>
            <% end %>
          </div>
          <div class="single-nameBox">
            <h2><%= @product.name %></h2>
          </div>
          <div class="single-priceBox">
            <div class="single-priceBox-sub-first">価格:</div>
            <div class="single-priceBox-sub-second">¥<%= @product.price %></div>
          </div>
          <div class="descriptionBox">
            <p><%= @product.description %></p>
          </div>
          <div class="pickup_timesBox">
            <div class="pickup_timesBox-sub-first">希望受け取り日時:</div>
            <div class="pickup_timesBox-sub-second"><%= @product.pickup_times %></div>
          </div>
          <div class="row shopBox">
            <!-- <%= form_with(url: checkout_products_path(@product.id), method: :post, local: true) do %>
              <script type="text/javascript" src="https://checkout.pay.jp" class="payjp-button"
              data-key="<%= ENV["PAYJP_PUBRIC_KEY"] %>", data-text="購入する"></script>
            <% end %> -->
          </div>
        </div>
      </div>
    </div>
    <div class="row related-products">

    </div>
  </div>
</section>
</div>
