<div class="main-wrapper">
  <section class="main-content py-3">
    <div class="container">
      <div class="row productBox">
        <div class="col-md-6">
          <div class="imageBox">
            <%= image_tag @product.image.large.url %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="single-nameBox">
            <h2><%= @product.name %></h2>
          </div>
          <div class="single-priceBox">
            <h3><%= @product.price %></h3>
          </div>
          <div class="descriptionBox">
            <p><%= @product.description %></p>
          </div>
          <div class="pickup_timesBox">
            <h3>希望受け取り時間</h3>
            <h4><%= @product.pickup_times %></h4>
          </div>
          <div class="row shopBox">
            
          </div>
        </div>
      </div>

      <div class="row related-products">

      </div>
    </div>
  </section>
</div>
